---
layout: default
---

トップページテスト {% assign today_str = site.time | date: "%Y-%m-%d" %} {%
assign today_page = site.days | where: "date", today_str | first %} 
{% if today_page %}
<p>
    今日のページはこちら：<a href="{{ today_page.url }}">{{ today_page.title }}</a>
</p>
{% else %}
<p>本日分のページはまだありません。</p>
{% endif %}

<h2>過去ログ</h2>
<ul>
  {% assign sorted_days = site.days | sort: "date" | reverse %}
  {% for day in sorted_days %}
    <li>
      <a href="{{ site.baseurl }}{{ day.url }}">{{ day.date | date: "%Y-%m-%d" }} {{ day.title }}</a>
    </li>
  {% endfor %}
</ul>
