---
layout: default
---

{% assign today_str = site.time | date: "%Y-%m-%d" %}
{% assign today_page = nil %}

{% for d in site.days %}
  {% assign d_date = d.date | date: "%Y-%m-%d" %}
  {% if d_date == today_str %}
    {% assign today_page = d %}
    {% break %}
  {% endif %}
{% endfor %}

{% if today_page %}
<p>今日のページはこちら：<a href="{{ site.baseurl }}{{ today_page.url }}">{{ today_page.title }}</a></p>
{% else %}
<p>今日のページはまだありません。</p>
{% endif %}
<p>today_str: {{ today_str }}</p>
{% for d in site.days %}
  <p>{{ d.date | date: "%Y-%m-%d %H:%M:%S %z" }} - {{ d.title }}</p>
{% endfor %}

<h2>過去ログ</h2>
<ul>
  {% assign sorted_days = site.days | sort: "date" | reverse %}
  {% for day in sorted_days %}
    <li>
      <a href="{{ site.baseurl }}{{ day.url }}">{{ day.date | date: "%Y-%m-%d" }} {{ day.title }}</a>
    </li>
  {% endfor %}
</ul>
