<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>{{ page.title | default: site.title }}</title>
        <link rel="stylesheet" href="{{ '/assets/css/layout.css' | relative_url }}" />
    </head>
    <body id="top">
        <header>
            <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
        </header>
        <main>
            {{ content }}
        </main>
        <footer>
            <small>&copy; {{ site.title }} {{ site.time | date: '%Y' }}</small>
        </footer>
    </body>
</html>
